<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Eatout</title>
    <link rel="shortcut icon" href="assets/images/logo2.png" type="image/x-icon">
    

    <link rel="stylesheet" href="/assets/css/icons.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/red-color.css">
    <link rel="stylesheet" href="/assets/css/yellow-color.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
</head>
<body itemscope>
    <main>
        <div class="preloader">
            <div id="cooking">
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div id="area">
                    <div id="sides">
                        <div id="pan"></div>
                        <div id="handle"></div>
                    </div>
                    <div id="pancake">
                        <div id="pastry"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <header class="stick">
            <div class="topbar">
                <div class="container">
                    <div class="select-wrp">
                        <select data-placeholder="Feel Like Eating">
                            <option>FEEL LIKE EATING</option>
                            <option>Burger</option>
                            <option>Pizza</option>
                            <option>Fried Rice</option>
                            <option>Chicken Shots</option>
                        </select>
                    </div>
                    <div class="select-wrp">
                        <select data-placeholder="Choose Location">
                            <option>CHOOSE LOCATION</option>
                            <option>Kilimani</option>
                            <option>Westlands</option>
                            <option>Ngong Road</option>
                            <option>Lavington</option>
                        </select>
                    </div>
                    <div class="topbar-register">
                        <a  href="login.ejs" title="Login" itemprop="url">LOGIN</a> / <a href="register.ejs" title="Register" itemprop="url">REGISTER</a>
                    </div>
                    <div class="social1">
                        <a href="#" title="Facebook" itemprop="url" target="_blank"><i class="fa fa-facebook-square"></i></a>
                        <a href="#" title="Twitter" itemprop="url" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" title="Google Plus" itemprop="url" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>                
            </div><!-- Topbar -->
            <div class="logo-menu-sec">
                <div class="container">
                    <div class="logo"><h1 itemprop="headline"><a href="home.ejs" title="Home" itemprop="url"><img src="assets/images/logo2.png" alt="logo.png" itemprop="image"></a></h1></div>
                    <nav>
                        <div class="menu-sec">
                            <ul>
                                
                                       
                                        <li><a href="Subscribe.ejs" title="HOMEPAGE" itemprop="url">HOME</a></li>
                                   
                                </li>
                                <li class="menu-item-has-children"><a href="#" title="RESTAURANTS" itemprop="url">RESTAURANTS</a>
                                    <ul class="sub-dropdown">
                                        <li><a href="cjs.ejs" title="RESTAURANT 1" itemprop="url">Cjs</a></li>
                                        <li><a href="artcafe.ejs" title="RESTAURANT 2" itemprop="url">Artcafe</a></li>
                                        <li><a href="bambino.ejs" title="RESTAURANT 1" itemprop="url">Bambino</a></li>
                                        <li><a href="pablos.ejs" title="RESTAURANT 1" itemprop="url">Pablo's</a></li>
                                        <li><a href="copperivy.ejs" title="RESTAURANT 1" itemprop="url">Copper Ivy</a></li>
                                        <li><a href="thewineandbottle.ejs" title="RESTAURANT DETAILS" itemprop="url">The Wine and Bottle</a></li>
                                        <li><a href="oysterbay.ejs" title="RESTAURANT DETAILS" itemprop="url">Oysterbay</a></li>
                                        <li><a href="jengajungle.ejs" title="RESTAURANT DETAILS" itemprop="url">Jenga Jungle</a></li>
                                        <li><a href="baobox.ejs" title="RESTAURANT DETAILS" itemprop="url">Baobox</a></li>

                                    </ul>
                                </li>
                                 <li class><a href="blog.ejs" title="BLOG" itemprop="url">BLOG</a>

                                <li><a href="contact.ejs" title="CONTACT US" itemprop="url">CONTACT US</a></li>
                            </ul>
                            <a class="red-bg brd-rd4" href="register-reservation.ejs" title="Register" itemprop="url">REGISTER RESTAURANT</a>
                        </div>
                    </nav><!-- Navigation -->
                </div>
            </div><!-- Logo Menu Section -->
        </header><!-- Header -->

        <div class="responsive-header">
            <div class="responsive-topbar">
                <div class="select-wrp">
                    <select data-placeholder="Feel Like Eating">
                        <option>FEEL LIKE EATING</option>
                        <option>Burger</option>
                        <option>Pizza</option>
                        <option>Fried Rice</option>
                        <option>Chicken Shots</option>
                    </select>
                </div>
                <div class="select-wrp">
                    <select data-placeholder="Choose Location">
                        <option>CHOOSE LOCATION</option>
                        <option>Kilimani</option>
                        <option>Westlands</option>
                        <option>Ngong Road</option>
                        <option>Lavington</option>
                    </select>
                </div>
            </div>
            <div class="responsive-logomenu">
                <div class="logo"><h1 itemprop="headline"><a href="Subscribe.ejs" title="Home" itemprop="url"><img src="assets/images/logo.png" alt="logo.png" itemprop="image"></a></h1></div>
                <span class="menu-btn yellow-bg brd-rd4"><i class="fa fa-align-justify"></i></span>
            </div>
            <div class="responsive-menu">
                <span class="menu-close red-bg brd-rd3"><i class="fa fa-close"></i></span>
                <div class="menu-lst">
                    <ul>
                        <li class="menu-item-has-children"><a href="#" title="HOMEPAGES" itemprop="url"><span class="yellow-clr">FOOD ORDERING</span>HOMEPAGES</a>
                            <ul class="sub-dropdown">
                                  <li><a href="Subscribe.ejs" title="HOMEPAGE" itemprop="url">HOME</a></li>
                                   
                                </li>
                                <li class="menu-item-has-children"><a href="#" title="RESTAURANTS" itemprop="url">RESTAURANTS</a>
                                    <ul class="sub-dropdown">
                                        <li><a href="cjs.ejs" title="RESTAURANT 1" itemprop="url">Cjs</a></li>
                                        <li><a href="artcafe.ejs" title="RESTAURANT 2" itemprop="url">Artcafe</a></li>
                                        <li><a href="bambino.ejs" title="RESTAURANT 1" itemprop="url">Bambino</a></li>
                                        <li><a href="pablos.ejs" title="RESTAURANT 1" itemprop="url">Pablo's</a></li>
                                        <li><a href="copperivy.ejs" title="RESTAURANT 1" itemprop="url">Copper Ivy</a></li>
                                        <li><a href="thewineandbottle.ejs" title="RESTAURANT DETAILS" itemprop="url">The Wine and Bottle</a></li>
                                        <li><a href="oysterbay.ejs" title="RESTAURANT DETAILS" itemprop="url">Oysterbay</a></li>
                                        <li><a href="jengajungle.ejs" title="RESTAURANT DETAILS" itemprop="url">Jenga Jungle</a></li>
                                        <li><a href="baobox.ejs" title="RESTAURANT DETAILS" itemprop="url">Baobox</a></li>

                                    </ul>
                                </li>
								
                                <li class><a href="blog.ejs" title="BLOG" itemprop="url">BLOG</a>
								
								
								
                                <li><a href="contact.ejs" title="CONTACT US" itemprop="url">CONTACT US</a></li>
                            </ul>
                            <a class="red-bg brd-rd4" href="register-reservation.ejs" title="Register" itemprop="url">REGISTER RESTAURANT</a>
                        </div>
                    </nav><!-- Navigation -->
                </div>
            </div><!-- Logo Menu Section -->
                       
            </div><!-- Responsive Menu -->
        </div><!-- Responsive Header -->
        <section>
            <div class="block">
                <div style="background-image: url(assets/images/topbg.jpg);" class="fixed-bg"></div>
                <div class="error-page-wrapper text-center">
                    <div class="error-page-inner">
                        <h1 itemprop="headline">403 <span class="red-clr">Error</span></h1>
                        <h4 itemprop="headline"><span class="yellow-clr">Oops,</span> This User already exists</h4>
                        <p itemprop="description">Try using a different email</p>
                        <a href="Subscribe.ejs" title="" itemprop="url"><i class="fa fa-home"></i> BACK TO HOME</a>
                        <form class="search-frm">
                            <input class="brd-rd3" type="text" placeholder="SEARCH KEYWORD">
                            <button class="yellow-bg" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div><!-- Error Page Wrapper -->
            </div>
        </section>
        
      
        </div><!-- Bottom Bar -->

        <div class="log-popup text-center">
            <div class="sign-popup-wrapper brd-rd5">
                <div class="sign-popup-inner brd-rd5">
                    <a class="log-close-btn" href="#" title="" itemprop="url"><i class="fa fa-close"></i></a>
                    <div class="sign-popup-title text-center">
                        <h4 itemprop="headline">SIGN IN</h4>
                        <span>with your social network</span>
                    </div>
                    <div class="popup-social text-center">
                        <a class="facebook brd-rd3" href="#" title="Facebook" itemprop="url" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
                        <a class="google brd-rd3" href="#" title="Google Plus" itemprop="url" target="_blank"><i class="fa fa-google-plus"></i> Google</a>
                        <a class="twitter brd-rd3" href="#" title="Twitter" itemprop="url" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
                    </div>
                    <span class="popup-seprator text-center"><i class="brd-rd50">or</i></span>
                    <form class="sign-form">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <input class="brd-rd3" type="text" placeholder="Username or Email">
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <input class="brd-rd3" type="password" placeholder="Password">
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <button class="red-bg brd-rd3" type="submit">SIGN IN</button>
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <a class="sign-btn" href="#" title="" itemprop="url">Not a member? Sign up</a>
                                <a class="recover-btn" href="#" title="" itemprop="url">Recover my password</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="sign-popup text-center">
            <div class="sign-popup-wrapper brd-rd5">
                <div class="sign-popup-inner brd-rd5">
                    <a class="sign-close-btn" href="#" title="" itemprop="url"><i class="fa fa-close"></i></a>
                    <div class="sign-popup-title text-center">
                        <h4 itemprop="headline">SIGN UP</h4>
                        <span>with your social network</span>
                    </div>
                    <div class="popup-social text-center">
                        <a class="facebook brd-rd3" href="#" title="Facebook" itemprop="url" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
                        <a class="google brd-rd3" href="#" title="Google Plus" itemprop="url" target="_blank"><i class="fa fa-google-plus"></i> Google</a>
                        <a class="twitter brd-rd3" href="#" title="Twitter" itemprop="url" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
                    </div>
                    <span class="popup-seprator text-center"><i class="brd-rd50">or</i></span>
                    <form class="sign-form">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <input class="brd-rd3" type="text" placeholder="Username">
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <input class="brd-rd3" type="email" placeholder="Email">
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <input class="brd-rd3" type="password" placeholder="Password">
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <button class="red-bg brd-rd3" type="submit">REGISTER NOW</button>
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <a class="sign-btn" href="#" title="" itemprop="url">Already Registered? Sign in</a>
                                <a class="recover-btn" href="#" title="" itemprop="url">Recover my password</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main><!-- Main Wrapper -->

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
</body>	

</html>