<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Food Ordering HTML Template</title>
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
    

    <link rel="stylesheet" href="/assets/css/icons.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/red-color.css">
    <link rel="stylesheet" href="/assets/css/yellow-color.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
</head>
<body itemscope>
    <main>
        <div class="preloader">
            <div id="cooking">
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div id="area">
                    <div id="sides">
                        <div id="pan"></div>
                        <div id="handle"></div>
                    </div>
                    <div id="pancake">
                        <div id="pastry"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <header class="stick">
            <div class="topbar">
                <div class="container">
                    <div class="select-wrp">
                        <select data-placeholder="Feel Like Eating">
                            <option>FEEL LIKE EATING</option>
                            <option>Burger</option>
                            <option>Pizza</option>
                            <option>Fried Rice</option>
                            <option>Chicken Shots</option>
                        </select>
                    </div>
                    <div class="select-wrp">
                        <select data-placeholder="Choose Location">
                            <option>CHOOSE LOCATION</option>
                            <option>Kilimani</option>
                            <option>Westlands</option>
                            <option>Ngong Road</option>
                            <option>Lavington</option>
                        </select>
                    </div>
                    <div class="topbar-register">
                        <a class="log-popup-btn" href="#" title="Login" itemprop="url">LOGIN</a> / <a class="sign-popup-btn" href="#" title="Register" itemprop="url">REGISTER</a>
                    </div>
                    <div class="social1">
                        <a href="#" title="Facebook" itemprop="url" target="_blank"><i class="fa fa-facebook-square"></i></a>
                        <a href="#" title="Twitter" itemprop="url" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" title="Google Plus" itemprop="url" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>                
            </div><!-- Topbar -->
            <div class="logo-menu-sec">
                <div class="container">
                    <div class="logo"><h1 itemprop="headline"><a href="home.ejs" title="Home" itemprop="url"><img src="assets/images/logo2.png" alt="logo.png" itemprop="image"></a></h1></div>
                    <nav>
                        <div class="menu-sec">
                            <ul>
                                
                                       
                                        <li><a href="Subscribe.ejs" title="HOMEPAGE" itemprop="url">HOME</a></li>
                                   
                                </li>
                                <li class="menu-item-has-children"><a href="#" title="RESTAURANTS" itemprop="url">RESTAURANTS</a>
                                    <ul class="sub-dropdown">
                                        <li><a href="cjs.ejs" title="RESTAURANT 1" itemprop="url">Cjs</a></li>
                                        <li><a href="artcafe.ejs" title="RESTAURANT 2" itemprop="url">Artcafe</a></li>
                                        <li><a href="bambino.ejs" title="RESTAURANT 1" itemprop="url">Bambino</a></li>
                                        <li><a href="pablos.ejs" title="RESTAURANT 1" itemprop="url">Pablo's</a></li>
                                        <li><a href="copperivy.ejs" title="RESTAURANT 1" itemprop="url">Copper Ivy</a></li>
                                        <li><a href="thewineandbottle.ejs" title="RESTAURANT DETAILS" itemprop="url">The Wine and Bottle</a></li>
                                        <li><a href="oysterbay.ejs" title="RESTAURANT DETAILS" itemprop="url">Oysterbay</a></li>
                                        <li><a href="jengajungle.ejs" title="RESTAURANT DETAILS" itemprop="url">Jenga Jungle</a></li>
                                        <li><a href="baobox.ejs" title="RESTAURANT DETAILS" itemprop="url">Baobox</a></li>

                                    </ul>
                                </li>
                                <li class><a href="blog.ejs" title="BLOG" itemprop="url">BLOG</a>

                                <li><a href="contact.ejs" title="CONTACT US" itemprop="url">CONTACT US</a></li>
                            </ul>
                            <a class="red-bg brd-rd4" href="register-reservation.ejs" title="Register" itemprop="url">REGISTER RESTAURANT</a>
                        </div>
                    </nav><!-- Navigation -->
                </div>
            </div><!-- Logo Menu Section -->
        </header><!-- Header -->

        <div class="responsive-header">
            <div class="responsive-topbar">
                <div class="select-wrp">
                    <select data-placeholder="Feel Like Eating">
                        <option>FEEL LIKE EATING</option>
                        <option>Burger</option>
                        <option>Pizza</option>
                        <option>Fried Rice</option>
                        <option>Chicken Shots</option>
                    </select>
                </div>
                <div class="select-wrp">
                    <select data-placeholder="Choose Location">
                        <option>CHOOSE LOCATION</option>
                        <option>Kilimani</option>
                        <option>Westlands</option>
                        <option>Ngong Road</option>
                        <option>Lavington</option>
                    </select>
                </div>
            </div>
            <div class="responsive-logomenu">
                <div class="logo"><h1 itemprop="headline"><a href="Subscribe.ejs" title="Home" itemprop="url"><img src="assets/images/logo.png" alt="logo.png" itemprop="image"></a></h1></div>
                <span class="menu-btn yellow-bg brd-rd4"><i class="fa fa-align-justify"></i></span>
            </div>
            <div class="responsive-menu">
                <span class="menu-close red-bg brd-rd3"><i class="fa fa-close"></i></span>
                <div class="menu-lst">
                    <ul>
                        <li class="menu-item-has-children"><a href="#" title="HOMEPAGES" itemprop="url"><span class="yellow-clr">FOOD ORDERING</span>HOMEPAGES</a>
                            <ul class="sub-dropdown">
                                  <li><a href="Subscribe.ejs" title="HOMEPAGE" itemprop="url">HOME</a></li>
                                   
                                </li>
                                <li class="menu-item-has-children"><a href="#" title="RESTAURANTS" itemprop="url">RESTAURANTS</a>
                                    <ul class="sub-dropdown">
                                        <li><a href="cjs.ejs" title="RESTAURANT 1" itemprop="url">Cjs</a></li>
                                        <li><a href="artcafe.ejs" title="RESTAURANT 2" itemprop="url">Artcafe</a></li>
                                        <li><a href="bambino.ejs" title="RESTAURANT 1" itemprop="url">Bambino</a></li>
                                        <li><a href="pablos.ejs" title="RESTAURANT 1" itemprop="url">Pablo's</a></li>
                                        <li><a href="copperivy.ejs" title="RESTAURANT 1" itemprop="url">Copper Ivy</a></li>
                                        <li><a href="thewineandbottle.ejs" title="RESTAURANT DETAILS" itemprop="url">The Wine and Bottle</a></li>
                                        <li><a href="oysterbay.ejs" title="RESTAURANT DETAILS" itemprop="url">Oysterbay</a></li>
                                        <li><a href="newscafe.ejs" title="RESTAURANT DETAILS" itemprop="url">Jenga Jungle</a></li>
                                        <li><a href="baobox.ejs" title="RESTAURANT DETAILS" itemprop="url">Baobox</a></li>

                                    </ul>
                                </li>
								
                                <li class><a href="blog.ejs" title="BLOG" itemprop="url">BLOG</a>
								
								
								
                                <li><a href="contact.ejs" title="CONTACT US" itemprop="url">CONTACT US</a></li>
                            </ul>
                            <a class="red-bg brd-rd4" href="register-reservation.ejs" title="Register" itemprop="url">REGISTER RESTAURANT</a>
                        </div>
                    </nav><!-- Navigation -->
                </div>
            </div><!-- Logo Menu Section -->
            
                       
            </div><!-- Responsive Menu -->
        </div><!-- Responsive Header -->
        <section>
            <div class="block">
                <div class="fixed-bg" style="background-image: url(assets/images/topbg.jpg);"></div>
                <div class="page-title-wrapper text-center">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="page-title-inner">
                            <h1 itemprop="headline">Register Reservation</h1>
                                <span>A Greate Restaurant Website</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="bread-crumbs-wrapper">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" title="" itemprop="url">Home</a></li>
                    <li class="breadcrumb-item active">Register Restaurant</li>
                </ol>
            </div>
        </div>

        <section>
            <div class="block top-padd30 gray-bg">
                
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <div class="sec-box">
                                <div class="reservation-tabs-wrapper">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12 col-lg-3">
                                            <div class="reservation-tabs-list brd-rd5">
                                                <ul class="nav nav-tabs brd-rd5">
                                                    <li class="active">
														<a href="#reservation-tab1" data-toggle="tab">
														<span class="brd-rd50">1</span> Information</a>
													</li>
                                                    <li>
														<a href="#reservation-tab2" data-toggle="tab">
															<span class="brd-rd50">2</span> Select Package
														</a>
													</li>
                                                    <li><a href="#reservation-tab3" data-toggle="tab"><span class="brd-rd50">3</span> Payment Information</a></li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-9 col-sm-12 col-lg-9">
                                            <div class="reservation-tab-content">
                                                <div class="tab-content">
                                                    <div class="tab-pane fade in active" id="reservation-tab1">
                                                        <form class="restaurant-info-form brd-rd5" action="/registerrestaurant" method="POST">
                                                            <div class="row mrg20">
                                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                                    <label>Restaurant name <sup>*</sup></label>
                                                                    <input class="brd-rd3" type="text"name="retsaurantname"required>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                                    <label>Restaurant Phone <sup>*</sup></label>
                                                                    <input class="brd-rd3" type="text"name="restaurantphone" required>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                                    <label>Manager Name <sup>*</sup></label>
                                                                    <input class="brd-rd3" type="text" name="managersname" required>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                                    <label>Manager Contact phone <sup>*</sup></label>
                                                                    <input class="brd-rd3" type="text" name="managersphone" required>
                                                                </div>
                                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                                    <label>Contact Email <sup>*</sup></label>
                                                                    <input class="brd-rd3" type="email" name="email" required>
                                                                </div>
                                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                                    <h4 itemprop="headline">LOCATION</h4>
                                                                </div>
                                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                                    <label>Location <sup>*</sup></label>
                                                                    <div class="select-wrp">
                                                                        <select>
                                                                            <option>Westlands</option>
                                                                            <option>Ngong Road</option>
                                                                            <option>lavington</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                              
                                                               
                                                    
                                                                <div class="col-md-12 col-sm-6 col-lg-12">
                                                                    <label>Cuisines <sup>*</sup></label>
                                                                    <div class="select-wrp">
                                                                        <select>
                                                                            <option>Swahili</option>
                                                                            <option>Mexican</option>
                                                                            <option>Italian</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                                    <h4 itemprop="headline">SIGNUP FIELDS</h4>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                                    <label>Username <sup>*</sup></label>
                                                                    <input class="brd-rd3" type="text" name="username" required>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                                    <label>Email <sup>*</sup></label>
                                                                    <input class="brd-rd3" type="email" name="email" required>
                                                                </div>
                                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                                    <div class="check-box">
                                                                        <input type="checkbox" id="agrement">
                                                                        <label for="agrement">Accept Terms and conditions</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                                    <div class="step-buttons">
                                                                        <a class="brd-rd3 red-bg" href="#reservation-tab2" title="" itemprop="url" data-toggle="tab">Next Step</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
														 </div>    
                                                        
                                                    
                                                    <div class="tab-pane fade" id="reservation-tab2">
                                                        <div class="select-package-wrapper">
                                                            <h4 itemprop="headline">REGISTRATION PLAN</h4>
                                                            <div class="remove-ext3">
                                                                <div class="row mrg10">
                                                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                                                        <div class="packege-box brd-rd5 text-center">
                                                                            <div class="package-header brd-rd5">
                                                                                <h4 itemprop="headline">BASIC</h4>
                                                                                <span class="red-clr">ksh 5000/ <small>MO</small></span>
                                                                            </div>
                                                                            <ul class="package-body">
                                                                                <li>Membership Duration</li>
                                                                                <li>Restaurant Duration</li>
                                                                                <li>Number of Tags</li>
                                                                                <li>Reviews</li>
                                                                                <li>Phone Number</li>
                                                                                <li>Website Link</li>
                                                                            </ul>
                                                                            <a class="brd-rd2" href="#" title="" itemprop="url">SELECT PLAN</a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                                                        <div class="packege-box brd-rd5 text-center">
                                                                            <div class="package-header brd-rd5">
                                                                                <h4 itemprop="headline">ADVANCED</h4>
                                                                                <span class="red-clr">ksh 8000 / <small>MO</small></span>
                                                                            </div>
                                                                            <ul class="package-body">
                                                                                <li>Membership Duration</li>
                                                                                <li>Restaurant Duration</li>
                                                                                <li>Number of Tags</li>
                                                                                <li>Reviews</li>
                                                                                <li>Phone Number</li>
                                                                                <li>Website Link</li>
                                                                            </ul>
                                                                            <a class="brd-rd2" href="#" title="" itemprop="url">SELECT PLAN</a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                                                        <div class="packege-box brd-rd5 text-center">
                                                                            <div class="package-header brd-rd5">
                                                                                <h4 itemprop="headline">PRO</h4>
                                                                                <span class="red-clr">ksh 5000 / <small>MO</small></span>
                                                                            </div>
                                                                            <ul class="package-body">
                                                                                <li>Membership Duration</li>
                                                                                <li>Restaurant Duration</li>
                                                                                <li>Number of Tags</li>
                                                                                <li>Reviews</li>
                                                                                <li>Phone Number</li>
                                                                                <li>Website Link</li>
                                                                            </ul>
                                                                            <a class="brd-rd2" href="#" title="" itemprop="url">SELECT PLAN</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="step-buttons">
                                                                <a class="brd-rd3" href="#reservation-tab1"title="" itemprop="url" data-toggle="tab">Back Step</a>
                                                                <a class="brd-rd3 red-bg" href="#reservation-tab3" title="" itemprop="url" data-toggle="tab">Next Step</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="reservation-tab3">
                                                        <form class="restaurant-info-form brd-rd5" action="/payment"method="POST">
                                                            <div class="row mrg20">
                                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                                    <label>First Name <sup>*</sup></label>
                                                                    <input class="brd-rd3" type="text" name="firstname" required>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                                    <label>Last Name <sup>*</sup></label>
                                                                    <input class="brd-rd3" type="text" name="lastname" required>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                                    <label>Email <sup>*</sup></label>
                                                                    <input class="brd-rd3" type="email" name="email" required>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                                    <label>Phone <sup>*</sup></label>
                                                                    <input class="brd-rd3" type="text" name="phone" required>
                                                                </div>
                                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                                    <label>Address <sup>*</sup></label>
                                                                    <textarea class="brd-rd3"></textarea>
                                                                </div>
                                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                                    <div class="step-buttons">
                                                                        <a class="brd-rd3" href="#reservation-tab2" title="" itemprop="url" data-toggle="tab">Back Step</a>
                                                                        <a class="brd-rd3 red-bg" href="registerrestaurant.ejs" title="" itemprop="url">Next Step</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="tab-pane fade" id="reservation-tab4">
                                                        <div class="order-wrapper2 brd-rd5">
                                                            <h4 itemprop="headlie">YOUR ORDER</h4>
                                                            <ul class="ordr-lst brd-rd5">
                                                                <li class="lst-hed">PRODUCT <span>TOTAL</span></li>
                                                                <li>Product X 1 <span>$90.00</span></li>
                                                                <li>Subtotal <span>$90.00</span></li>
                                                                <li>Gov Tax <span>$2.70</span></li>
                                                                <li class="red-bg">Total <span>$92.70</span></li>
                                                            </ul>
                                                            <div class="pay-mnt">
                                                                <span class="radio-box">
                                                                    <input type="radio" name="pay-mthd" id="mthd1">
                                                                    <label for="mthd1">Direct Bank Transfer</label>
                                                                </span>
                                                                <span class="radio-box">
                                                                    <input type="radio" name="pay-mthd" id="mthd2">
                                                                    <label for="mthd2">Check payments</label>
                                                                </span>
                                                                <span class="radio-box">
                                                                    <input type="radio" name="pay-mthd" id="mthd3">
                                                                    <label for="mthd3">Cash on delivery</label>
                                                                </span>
                                                                <span class="radio-box">
                                                                    <input type="radio" name="pay-mthd" id="mthd4">
                                                                    <label for="mthd4">Paypal <img src="assets/images/pay-mthd-img.jpg" alt="pay-mthd-img.jpg" itemprop="image"></label>
                                                                </span>
                                                            </div>
                                                            <div class="ordr-btn">
                                                                <a class="red-bg brd-rd5" href="#" title="" itemprop="url">Place Order</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div><!-- Section Box -->
                            </div>
                        </div>
                    </div>
                
            </div>
        </section>

        

        <footer>
            <div class="block top-padd80 bottom-padd80 dark-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <div class="footer-data">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-lg-3">
                                        <div class="widget about_widget wow fadeIn" data-wow-delay="0.1s">
                                            <div class="logo"><h1 itemprop="headline"><a href="#" title="Home" itemprop="url"><img src="assets/images/logo.png" alt="logo.png" itemprop="image"></a></h1></div>
                                            <p itemprop="description">Food Ordering is a Premium HTML Template. Best choice for your online store. Let purchase it to enjoy now</p>
                                            <div class="social2">
                                                <a class="brd-rd50" href="#" title="Facebook" itemprop="url" target="_blank"><i class="fa fa-facebook"></i></a>
                                                <a class="brd-rd50" href="#" title="Google Plus" itemprop="url" target="_blank"><i class="fa fa-google-plus"></i></a>
                                                <a class="brd-rd50" href="#" title="Twitter" itemprop="url" target="_blank"><i class="fa fa-twitter"></i></a>
                                                <a class="brd-rd50" href="#" title="Pinterest" itemprop="url" target="_blank"><i class="fa fa-pinterest"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-lg-3">
                                        <div class="widget information_links wow fadeIn" data-wow-delay="0.2s">
                                            <h4 class="widget-title" itemprop="headline">INFORMATION</h4>
                                            <ul>
                                                <li><a href="#" title="" itemprop="url">Careers</a></li>
                                                <li><a href="#" title="" itemprop="url">Investor Relations</a></li>
                                                <li><a href="#" title="" itemprop="url">Press Releases</a></li>
                                                <li><a href="#" title="" itemprop="url">Shop with Points</a></li>
                                                <li><a href="#" title="" itemprop="url">More Branches</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-lg-3">
                                        <div class="widget customer_care wow fadeIn" data-wow-delay="0.3s">
                                            <h4 class="widget-title" itemprop="headline">CUSTOMER CARE</h4>
                                            <ul>
                                                <li><a href="#" title="" itemprop="url">Returns</a></li>
                                                <li><a href="#" title="" itemprop="url">Shipping Info</a></li>
                                                <li><a href="#" title="" itemprop="url">Gift Cards</a></li>
                                                <li><a href="#" title="" itemprop="url">Size Guide</a></li>
                                                <li><a href="#" title="" itemprop="url">Money Back</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-lg-3">
                                        <div class="widget get_in_touch wow fadeIn" data-wow-delay="0.4s">
                                            <h4 class="widget-title" itemprop="headline">GET IN TOUCH</h4>
                                            <ul>
                                               <li><i class="fa fa-map-marker"></i> 123 New Design Str, ABC Building, melbourne, Australia.</li>
                                               <li><i class="fa fa-phone"></i> (0044) 8647 1234 587</li>
                                               <li><i class="fa fa-envelope"></i> <a href="#" title="" itemprop="url">hello@yourdomain.com</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- Footer Data -->
                        </div>
                    </div>
                </div>
            </div>
        </footer><!-- footer -->
        <div class="bottom-bar dark-bg text-center">
            <div class="container">
                <p itemprop="description"><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
            </div>
        </div><!-- Bottom Bar -->

        <div class="log-popup text-center">
            <div class="sign-popup-wrapper brd-rd5">
                <div class="sign-popup-inner brd-rd5">
                    <a class="log-close-btn" href="#" title="" itemprop="url"><i class="fa fa-close"></i></a>
                    <div class="sign-popup-title text-center">
                        <h4 itemprop="headline">SIGN IN</h4>
                        <span>with your social network</span>
                    </div>
                    <div class="popup-social text-center">
                        <a class="facebook brd-rd3" href="#" title="Facebook" itemprop="url" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
                        <a class="google brd-rd3" href="#" title="Google Plus" itemprop="url" target="_blank"><i class="fa fa-google-plus"></i> Google</a>
                        <a class="twitter brd-rd3" href="#" title="Twitter" itemprop="url" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
                    </div>
                    <span class="popup-seprator text-center"><i class="brd-rd50">or</i></span>
                    <form class="sign-form">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <input class="brd-rd3" type="text" placeholder="Username or Email">
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <input class="brd-rd3" type="password" placeholder="Password">
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <button class="red-bg brd-rd3" type="submit">SIGN IN</button>
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <a class="sign-btn" href="#" title="" itemprop="url">Not a member? Sign up</a>
                                <a class="recover-btn" href="#" title="" itemprop="url">Recover my password</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="sign-popup text-center">
            <div class="sign-popup-wrapper brd-rd5">
                <div class="sign-popup-inner brd-rd5">
                    <a class="sign-close-btn" href="#" title="" itemprop="url"><i class="fa fa-close"></i></a>
                    <div class="sign-popup-title text-center">
                        <h4 itemprop="headline">SIGN UP</h4>
                        <span>with your social network</span>
                    </div>
                    <div class="popup-social text-center">
                        <a class="facebook brd-rd3" href="#" title="Facebook" itemprop="url" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
                        <a class="google brd-rd3" href="#" title="Google Plus" itemprop="url" target="_blank"><i class="fa fa-google-plus"></i> Google</a>
                        <a class="twitter brd-rd3" href="#" title="Twitter" itemprop="url" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
                    </div>
                    <span class="popup-seprator text-center"><i class="brd-rd50">or</i></span>
                    <form class="sign-form">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <input class="brd-rd3" type="text" placeholder="Username">
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <input class="brd-rd3" type="email" placeholder="Email">
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <input class="brd-rd3" type="password" placeholder="Password">
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <button class="red-bg brd-rd3" type="submit">REGISTER NOW</button>
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <a class="sign-btn" href="#" title="" itemprop="url">Already Registered? Sign in</a>
                                <a class="recover-btn" href="#" title="" itemprop="url">Recover my password</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main><!-- Main Wrapper -->

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="assets/js/google-map-int.js"></script>
    <script src="../../www.google.com/recaptcha/api.js"></script>
    <script src="assets/js/main.js"></script>
</body>	

</html>